// TODO: rename to _canvas.scss

.test-canvas{
    border: 8px solid salmon;
    width: 100%;
    height: 80%;
    // height: 120%;
}

.responsive-canvas{
    box-sizing: border-box;
    object-fit: contain;
}