<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Leswell">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        
        <title>{% block title %}TEST{% endblock title %}</title>

        {% background "titi" %}

        {% block imports %}
        {% endblock imports %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}
        <h6>under active development!</h6>
    </body>
</html>